<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94d491">  <td>20/09/06 15:36:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestClass.firstTest()[pri:0, instance:testNGTests.FirstTestClass@1d16f93d]">firstTest</td> 
  <td>main@1605283233</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>20/09/06 15:36:11</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestClass.secondTest()[pri:0, instance:testNGTests.FirstTestClass@1d16f93d]">secondTest</td> 
  <td>main@1605283233</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>20/09/06 15:36:11</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestClass.thirdTest()[pri:0, instance:testNGTests.FirstTestClass@1d16f93d]">thirdTest</td> 
  <td>main@1605283233</td>   <td></td> </tr>
</table>
